<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="EFD Unpacker" Language="1033" Version="VERSION_PLACEHOLDER" Manufacturer="Ingvar Consulting" UpgradeCode="12345678-1234-1234-1234-123456789012">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <Media Id="1" Cabinet="cab1.cab" EmbedCab="yes" />
    
    <!-- Условия установки -->
    <Condition Message="This application requires Windows 7 or later.">
      <![CDATA[Installed OR (VersionNT >= 601)]]>
    </Condition>
    
    <!-- Добавляем свойство выбора PATH -->
    <Property Id="ADD_TO_PATH" Value="none" />

    <!-- UI: диалог выбора PATH -->
    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <Dialog Id="PathDlg" Width="370" Height="270" Title="[DlgTitle]">
        <Control Id="PathLabel" Type="Text" X="20" Y="20" Width="330" Height="40" Text="[PathLabel]" />
        <Control Id="NoPath" Type="RadioButtonGroup" X="40" Y="70" Width="290" Height="60" Property="ADD_TO_PATH">
          <RadioButtonGroup Property="ADD_TO_PATH">
            <RadioButton Value="none" X="0" Y="0" Width="280" Height="16" Text="[NoPathText]" />
            <RadioButton Value="user" X="0" Y="20" Width="280" Height="16" Text="[UserPathText]" />
            <RadioButton Value="all" X="0" Y="40" Width="280" Height="16" Text="[AllPathText]" />
          </RadioButtonGroup>
        </Control>
        <Control Id="WarningLabel" Type="Text" X="40" Y="140" Width="290" Height="30" Text="[WarningLabelText]" Hidden="yes">
          <Condition Action="show">ADD_TO_PATH = "all"</Condition>
          <Condition Action="hide">ADD_TO_PATH &lt;&gt; "all"</Condition>
        </Control>
        <Control Id="Back" Type="PushButton" X="180" Y="230" Width="56" Height="17" Default="no" Cancel="no" Text="[BackBtn]">
          <Publish Event="NewDialog" Value="InstallDirDlg">1</Publish>
        </Control>
        <Control Id="Next" Type="PushButton" X="236" Y="230" Width="56" Height="17" Default="yes" Cancel="no" Text="[NextBtn]">
          <Publish Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="292" Y="230" Width="56" Height="17" Cancel="yes" Text="[CancelBtn]">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
      </Dialog>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="PathDlg">1</Publish>
      <Publish Dialog="PathDlg" Control="Back" Event="NewDialog" Value="InstallDirDlg">1</Publish>
      <Publish Dialog="PathDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
    </UI>
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="EFD Unpacker" />
      </Directory>
      
      <!-- Иконка в меню Пуск -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="EFD Unpacker" />
      </Directory>
      
      <!-- Desktop Shortcut -->
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>
    
    <!-- Основные компоненты приложения -->
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="MainExecutable" Guid="87654321-4321-4321-4321-210987654321">
        <File Source="dist\EFDUnpacker.exe" KeyPath="yes" Id="EFDUnpackerEXE" Name="EFDUnpacker.exe" />
        
        <!-- File Association Registration -->
        <RegistryValue Root="HKCR" Key=".efd" Value="EFDFile" Type="string" />
        <RegistryValue Root="HKCR" Key="EFDFile" Value="EFD Archive File" Type="string" />
        <RegistryValue Root="HKCR" Key="EFDFile\DefaultIcon" Value="[INSTALLFOLDER]EFDUnpacker.exe,0" Type="string" />
        <RegistryValue Root="HKCR" Key="EFDFile\shell\open\command" Value="&quot;[INSTALLFOLDER]EFDUnpacker.exe&quot; &quot;%1&quot;" Type="string" />
        <RegistryValue Root="HKCR" Key="EFDFile\shell\open" Value="Open with EFD Unpacker" Type="string" />
        
        <!-- MIME Type Registration -->
        <RegistryValue Root="HKCR" Key="MIME\Database\Content Type\application/x-efd" Value="EFD Archive File" Type="string" />
        <RegistryValue Root="HKCR" Key="MIME\Database\Content Type\application/x-efd\Extension" Value=".efd" Type="string" />
      </Component>
      <!-- Добавляем компоненты для PATH -->
      <Component Id="PathUser" Guid="33333333-3333-3333-3333-333333333333" Win64="yes">
        <RegistryKey Root="HKCU" Key="Environment" Action="create">
          <RegistryValue Name="PATH" Type="expandable" Value="[~]EFDUnpackerPATHUSER" KeyPath="yes" />
        </RegistryKey>
        <Condition>ADD_TO_PATH = "user"</Condition>
      </Component>
      <Component Id="PathAll" Guid="44444444-4444-4444-4444-444444444444" Win64="yes">
        <RegistryKey Root="HKLM" Key="SYSTEM\CurrentControlSet\Control\Session Manager\Environment" Action="create">
          <RegistryValue Name="PATH" Type="expandable" Value="[~]EFDUnpackerPATHALL" KeyPath="yes" />
        </RegistryKey>
        <Condition>ADD_TO_PATH = "all"</Condition>
      </Component>
    </ComponentGroup>
    
    <!-- Компоненты ярлыков -->
    <ComponentGroup Id="ShortcutComponents" Directory="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="11111111-1111-1111-1111-111111111111">
        <Shortcut Id="ApplicationStartMenuShortcut" 
                  Name="EFD Unpacker" 
                  Description="EFD Unpacker Application"
                  Target="[INSTALLFOLDER]EFDUnpacker.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\EFD Unpacker" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </ComponentGroup>
    
    <ComponentGroup Id="DesktopShortcutComponents" Directory="DesktopFolder">
      <Component Id="DesktopShortcut" Guid="22222222-2222-2222-2222-222222222222">
        <Shortcut Id="DesktopShortcut" 
                  Name="EFD Unpacker" 
                  Description="EFD Unpacker Application"
                  Target="[INSTALLFOLDER]EFDUnpacker.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKCU" Key="Software\EFD Unpacker" Name="desktop_shortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </ComponentGroup>
    
    <!-- Основная фича -->
    <Feature Id="ProductFeature" Title="EFD Unpacker" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="ShortcutComponents" />
      <ComponentGroupRef Id="DesktopShortcutComponents" />
    </Feature>

    <!-- Прописываем значения для PATH -->
    <CustomAction Id="SetEFDUnpackerPATHUSER" Property="EFDUnpackerPATHUSER" Value="[INSTALLFOLDER];%PATH%" Execute="immediate" />
    <CustomAction Id="SetEFDUnpackerPATHALL" Property="EFDUnpackerPATHALL" Value="[INSTALLFOLDER];%PATH%" Execute="immediate" />
    <InstallExecuteSequence>
      <Custom Action="SetEFDUnpackerPATHUSER" Before="WriteRegistryValues">ADD_TO_PATH = "user"</Custom>
      <Custom Action="SetEFDUnpackerPATHALL" Before="WriteRegistryValues">ADD_TO_PATH = "all"</Custom>
    </InstallExecuteSequence>
  </Product>
</Wix>
