<?xml version="1.0" encoding="UTF-8"?>
<Wix
  xmlns="http://schemas.microsoft.com/wix/2006/wi"
  xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
  <Bundle
    Name="EFD Unpacker"
    Version="VERSION_PLACEHOLDER"
    Manufacturer="Ingvar Consulting"
    UpgradeCode="9F4CE29E-8A3F-4B2A-A3D8-C9171E7D6F20"
    Compressed="yes"
    IconSourceFile="resources\icon.ico"
    DisableModify="yes">
    <BootstrapperApplicationRef
      Id="WixStandardBootstrapperApplication.RtfLicense"
      bal:UseUILanguages="yes">
      <bal:WixStandardBootstrapperApplication
        LicenseFile="installer\windows\license.rtf"
        LogoFile="resources\windows-setup-logo.bmp"
        ShowVersion="yes"
        SuppressRepair="yes" />
    </BootstrapperApplicationRef>

    <Chain>
      <MsiPackage
        Id="EFDUnpackerMsi"
        SourceFile="dist\efd-unpacker-VERSION_PLACEHOLDER-windows.msi"
        DisplayInternalUI="no"
        Visible="no">
        <MsiProperty Name="ADD_TO_PATH" Value="all" />
        <MsiProperty Name="ARPSYSTEMCOMPONENT" Value="1" />
      </MsiPackage>
    </Chain>
  </Bundle>
</Wix>
